*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
:root{
     --bg-dark: #1F1F1F;
     --bg-darker: #282828;
     --bg-gray: #606060;
}
body{
    background: var(--bg-dark);
}
nav{
    width: 100%;
    height: 60px;
    background: var(--bg-darker);
    display: flex;
}
nav>#bars{
    color: #fff;
    padding: 20px 30px;
    font-size: 25px;
}
nav>img{
    width: 100px;
    height: 100px;
    margin-top: -18px;
}
nav>.text-input{
    width: 480px;
    height: 38px;
    background: transparent;
    border: 1px solid #606060;
    border-radius: 2.2px;
    outline: none;
    text-indent: 50px;
    color: #fff;
    margin-top: 12px;
    margin-left: 300px;
}
nav>.fa-search{
   position: relative;
   left:325px;
   color: #606060;
   top: 22px;
}
.fa-circle-question{
    font-size: 26px;
    margin-left: 150px;
    margin-top: 15px;
}
.create{
    font-weight: 200;
    width: 120px;
    height: 35px;
    border: 1px solid #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 12px;
}
nav>.gerb{
transform: scale(.3);
}
.channel{
    margin-left: 100px;
    padding-top: 44px;
    color: #FCFCFC;
    width: 400px;
    height: 550px;
    background: transparent;
    border: .1px solid #3E3E3E;
    background: #282828;
    margin-top: 150px;
}
header{
    /* z-index: 20; */
}