@media screen and (max-width:1100px){
 .content{
    grid-template-columns: repeat(3, 1fr);
 }   
}
@media screen and (max-width:860px)  {
    .search_wrapper{
        display: none;
    }
    .content{
        grid-template-columns: repeat(2, 1fr);
     }   
}
@media screen and (max-width:600px){
    .content{
        grid-template-columns: repeat(1, 1fr);
     }   
}