*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --bg-dark: #202020;
    --bg-darker: #313131;
    --bg-black: #121212;
}
body{
    height: 300vh;
    background: var(--bg-dark);
}
::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb{
    background: #747474;
    border-radius: 10px;
}
header{
    background: var(--bg-dark);
    position: sticky;
    top: 0;
    left: 0;
}
nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo>img{
    width: 100px;
}

.search_wrapper{
    display: flex;
}
.search{
    width: 500px;
    height: 38px;
    border: 1px solid var(--bg-darker) ;
    background-color: var(--bg-black);
   display: flex;
   justify-content: space-between;
}
.search > input{
    width: 90%;
    background: transparent;
    border: none;
    text-indent: 10px;
    font-size: 15px;
    color: #fff;
}
.search>input:focus{
    outline: 1px solid blue;
}
.search > button{
    width: 10%;
    background-color: var(--bg-darker);
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}
.mikraphone{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: var(--bg-black);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.nav_admin{
    color: #fff;
    display: flex;
    align-items: center;
}
.nav_admin > i{
    margin-left: 20px;
}
.nav_admin img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    object-fit: cover;
}
.allmixes{
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--bg-darker);
    border-bottom: 1px solid var(--bg-darker);
    padding: 0 20px;
   overflow-x: auto;
}
.allmixes_item{
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #444;
    color: #fff;
    background: #373737;
    margin-right: 12px;
   transition: .3s ;
   cursor: pointer;
   white-space: nowrap;
}
.allmixes_item:hover{
    background: #444;
}
.two{
    background: #fff;
    color: #000;
}
.two:hover{
    background: #fff;
}
.content{
    padding: 30px;
    background: var(--bg-black);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}
.content_item{
    transition: .5s 1s;
}
.content_item:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #000;
}
.content_item iframe {
    width: 100%;
    height: 200px;
}
.content_item h3{
    color: #fff;
}
.content_item p{
    color: #999;
    padding-top: 12px;
    font-size: 14px;
}
.content_desc{
    padding: 4px;
    display: flex;
}
.content_desc img{
    width: 36px;
    height: 36px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}
